
#include <physical_layouts.dtsi>

/ {
    gamesir_layout: gamesir_layout {
        compatible = "zmk,physical-layout";
        display-name = "GamesirVX2"; 

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  175    0       0     0     0>
            , <&key_physical_attrs 100 100  275    0       0     0     0>
            , <&key_physical_attrs 100 100  375    0       0     0     0>
            , <&key_physical_attrs 100 100  475    0       0     0     0>
            , <&key_physical_attrs 150 100  575    0       0     0     0>
            , <&key_physical_attrs 100 100    0  125       0     0     0>
            , <&key_physical_attrs 100 100  100  125       0     0     0>
            , <&key_physical_attrs 100 100  200  125       0     0     0>
            , <&key_physical_attrs 100 100  300  125       0     0     0>
            , <&key_physical_attrs 100 100  400  125       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 125 100  600  125       0     0     0>
            , <&key_physical_attrs 150 100    0  225       0     0     0>
            , <&key_physical_attrs 100 100  150  225       0     0     0>
            , <&key_physical_attrs 100 100  250  225       0     0     0>
            , <&key_physical_attrs 100 100  350  225       0     0     0>
            , <&key_physical_attrs 100 100  450  225       0     0     0>
            , <&key_physical_attrs 175 100  550  225       0     0     0>
            , <&key_physical_attrs 175 100    0  325       0     0     0>
            , <&key_physical_attrs 100 100  175  325       0     0     0>
            , <&key_physical_attrs 100 100  275  325       0     0     0>
            , <&key_physical_attrs 100 100  375  325       0     0     0>
            , <&key_physical_attrs 100 100  475  325       0     0     0>
            , <&key_physical_attrs 150 100  575  325       0     0     0>
            , <&key_physical_attrs 225 100    0  425       0     0     0>
            , <&key_physical_attrs 100 100  225  425       0     0     0>
            , <&key_physical_attrs 100 100  325  425       0     0     0>
            , <&key_physical_attrs 100 100  425  425       0     0     0>
            , <&key_physical_attrs 100 100  525  425       0     0     0>
            , <&key_physical_attrs 100 100  625  425       0     0     0>
            , <&key_physical_attrs 125 100    0  525       0     0     0>
            , <&key_physical_attrs 125 100  125  525       0     0     0>
            , <&key_physical_attrs 125 100  250  525       0     0     0>
            , <&key_physical_attrs 250 100  375  525       0     0     0>
            , <&key_physical_attrs 100 100  625  525       0     0     0>
            ;
    };
};


/ {
    layout_position_map0 {
        compatible = "zmk,physical-layout-position-map";
        complete;

        layout0: layout0 {
            physical-layout = <&gamesir_layout>;
            positions
                = < 0 41  1  2  3  4  5>
                , < 6  7  8  9 10 11 12>
                , <13 14 15 16 17 40 18>
                , <19 20 21 22 23 24 39>
                , <38 25 26 27 28 29 30>
                , <31 32 33 37 36 34 35>
                ;
        };
    };
};

